* { 
	box-sizing: border-box; 
}

body {
	font-size: 40px;
	margin: 20px auto;
	text-align: center;
	background: gray;
}

input {
	font-size: 40px;
	padding: 10px;
	margin: 10px auto;
}

.userDiv {
	margin: 0 300px;
	text-align: center;
	padding: 30px;
	background: yellow;
	border: 1px solid red;
	border-radius: 5px;
	background-color: inherit;
	border: 2px solid;
	transition: .4s;
	color: #f1c40f;
}

.userImage {
	text-align: center;
	display: block;
	max-height: 100px;
	margin: 0 auto;
}

.userLink {
	cursor: pointer;
	text-decoration: none;
	color: black;
	font-size: 30px;
	line-height: 40px;
}

.userDiv:hover {
	color: white;
}